<h2>

    Change Password

</h2>

<hr>

<form
    [formGroup]="form"
    (ngSubmit)="save()">

    <div class="mb-3">

        <label
            for="currentPassword"
            class="form-label">

            Current Password

        </label>

        <input
            id="currentPassword"
            type="password"
            class="form-control"
            formControlName="currentPassword"
            autocomplete="current-password">

        <div
            class="text-danger mt-2"
            *ngIf="form.controls.currentPassword.touched &&
                   form.controls.currentPassword.hasError('required')">

            Current password is required.

        </div>

    </div>

    <div class="mb-3">

        <label
            for="newPassword"
            class="form-label">

            New Password

        </label>

        <input
            id="newPassword"
            type="password"
            class="form-control"
            formControlName="newPassword"
            autocomplete="new-password">

        <div
            class="text-danger mt-2"
            *ngIf="form.controls.newPassword.touched &&
                   form.controls.newPassword.invalid">

            Password must:

            <ul class="mb-0 mt-2">

                <li>contain at least 8 characters</li>

                <li>contain one uppercase letter</li>

                <li>contain one lowercase letter</li>

                <li>contain one number</li>

            </ul>

        </div>

    </div>

    <button
        class="btn btn-primary me-2"
        type="submit">

        Save

    </button>

    <a
        class="btn btn-secondary"
        [routerLink]="['/employees/details', username]">

        Cancel

    </a>

</form>